<h2 class="mb-0 text-center">
  Ngày {{date|date:'dd/MM/yyyy'}}
</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tên Khoản Thu - Chi</th>
      <th scope="col">Số Tiền</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td scope="row">{{expense.description}}</td>
      <td>{{expense.amount | number}}</td>
    </tr>
    <tr>
      <th class="text-danger">Tổng Cộng</th>
      <th class="text-danger">{{totalExpense | number}}</th>
    </tr>
  </tbody>
</table>
