<div class="card">
  <div class="card-header bg-success" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Thống Kê Tiền Phòng
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Phòng</th>
            <th scope="col">Giảm Giá</th>
            <th scope="col">Điều Chỉnh</th>
            <th scope="col">Tổng Cộng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{order.roomName}}</th>
            <td>{{order.discount | number}}</td>
            <td>{{order.adjustment | number}}</td>
            <td>{{order.total | number }}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th class="text-danger">Tổng Cộng</th>
            <th class="text-danger">{{total | number}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
