<h3 class="text-center">
  Ngày {{ date | date:'dd/MM/yyyy' }}
</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Phòng</th>
      <th scope="col">Giảm Giá</th>
      <th scope="col">Phụ Thu</th>
      <th scope="col">Tổng Cộng</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <th scope="row">{{order.roomName}}</th>
      <td>{{order.discount | number}}</td>
      <td>{{order.adjustment | number}}</td>
      <td>{{order.total | number }}</td>
      <td><button class="btn btn-primary" (click)="openDialog(order);">Chi Tiết</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th class="text-danger">Tổng Cộng</th>
      <th class="text-danger">{{total | number}}</th>
    </tr>
  </tbody>
</table>
